* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: grid;
    background-color: #101010;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}